* {
    width: auto;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
.tm-handwriting-font{
    font-family: 'Damion', cursive;
}
a, a:hover{
    text-decoration: none;
}
.header-content{
    padding: 10px 0 10px;
}
.img-logo{
    width: 50%;
}
.active{
    background-image: url(./img/logo.png),url(./img/nav-underline.png);
    background-repeat: no-repeat;
    background-color: none;
    background-size: 20px, 74px 17px;
    background-position: 0% 30%, center bottom;
    background-position-x: 0%, center;
    background-position-y: 30%, bottom;
}

.none-nav {
    background-color: #343a40!important;
    color: white;
    text-transform: uppercase;
}
.nav-link{
    font-size: 14px;
    font-weight: 700;
    padding-left: 30px;
    width: auto;
    height: 47px;
}
.main-background{
    background-color: rgb(40, 39, 38);
    text-align: center;

}
.welcome-section{
    height: 500px;
}
.img-light{
    width: 100%;
    top:0;
    left: 0%;
}
.content-welcome{
    font-size: 3.5rem;
}
.header-img{
    color: white;
}
.img-line{
    padding:25px;
}
.gold-text{
    color:#c79c60;
    /* text-transform: uppercase; */
}
.welcome-content{
    
}
.welcome-2{
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
}