* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.header-container{
    background-color: black;
}
.container{
    width: 960px;
}
.header-container .top-header{
    padding: 10px 0;
}
.header-container .nav a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 700; 
    text-transform: uppercase;
}
.header-container .nav a:hover{
    color:  #c79c60;
    transition: 0.7s ease-in;
}
.active{
    background-image: url(./img/logo.png),url(./img/nav-underline.png);
    background-repeat: no-repeat;
    background-position: 0% 45%, center bottom;
    background-size: 20px, 82px 20px;
}
.active a{
    padding-left: 10px;
}
.welcome-section{
    background-color: #282726;
}
.welcome-header{
    top: 54%;
    left: 23%;
}
.welcome-section .welcome-header h2{
    font-size: 56px;
    font-family: 'Damion', cursive;
}
.gold-text{
    color: #c79c60;
}
.welcome-header-2{
    font-family: 'Times New Roman', serif;
    font-size: 62px;
    text-transform: uppercase;
}