* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.header-content{
    padding: 10px 0 10px;
}
.img-logo{
    width: 50%;
}
.active{
    background-image: url(./img/logo.png),url(./img/nav-underline.png);
    background-repeat: no-repeat;
    background-color: none;
    background-size: 20px, 74px 17px;
    background-position: 0% 30%, center bottom;
    background-position-x: 0%, center;
    background-position-y: 30%, bottom;
}

.none-nav {
    background-color: #343a40!important;
    color: white;
    text-transform: uppercase;
}
.nav-link{
    font-size: 14px;
    font-weight: 700;
    padding-left: 30px;
    width: auto;
    height: 47px;
}
.nav-link:hover{
    color: #c79c60 ;
}

.active{
    background-image: url(./img/logo.png),url(./img/nav-underline.png);
    background-repeat: no-repeat;
    background-position: 0% 45%, center bottom;
    background-size: 20px, 82px 20px;
}
.active a{
    padding-left: 10px;
}
.welcome-section{
    background-color: #282726;
}
.welcome-section .welcome-header h2{
    font-size: 56px;
    font-family: 'Damion', cursive;
}
.gold-text{
    color: #c79c60;
}
.welcome-header-2{
    font-family: 'Times New Roman', serif;
    font-size: 62px;
    text-transform: uppercase;
}
.gray-text{
    color: gray;
}
.welcome-content{
    margin: -12% auto 10%;
    max-width: 650px;
}
.btn-welcome{
    /* display: block; */
    margin-left: 30%;
    margin-top: 10%;
    background-image: url(./img/tm-brown-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 196px 46px;
    width: 196px;
    height: 46px;
    font-size: 16px;
    text-transform: uppercase;
    color: #c79c60;
    align-items: center;
    
}
.btn-welcome:hover .btn{
    color:white;
}
.btn{
    width: 100%;
    margin: auto;
    padding:5% ;
    color: #c79c60;
    font-size: 16px;
    text-transform: uppercase;
}
.img-table{
    margin-top: -20%;
    top:100px;
    left: -25%;
    position: relative;
    /* background-color: #282726; */
}
/* .img-resposive{
    display: block;
    max-width: 100%;
    height: auto;
} */
.bg-light{
    margin-top: -5%;
    padding-top: 10%;
}
.tm-handwriting-font{
    font-family: 'Damion', cursive;
}
.welcome-description {
    text-align: justify;
}
.main-title{
    display: flex;
}
.img-circle{
    border-radius: 50%;
    padding:8px;
    border: 1px solid rgb(238, 216, 216);
}
.btn-read{
    margin-top: 2%;
    margin-left: 0%;
}
.main-section{
    margin-bottom: 3rem;
}
.item-logo{
    padding:0 0 0.5rem;
}
.popular-item{
    background: url(./img/popular-item-bg.png) no-repeat;
    background-size: 100% 100%;
}
.order-now-link{
    /* font-size: 24px; */
    border: 2px solid rgb(174,174,174);
    border-radius: 50%;
    width: 78px;
    height: 78px;
    padding-top: 8px;   
}
.order-now{
    top:85%;
    left: 36%;
    color:  rgb(174,174,174);
}
.order-now:hover a{
    text-decoration: none;
    color: #c79c60;
}
.popular-item-tilte:hover hr{
    border-color: #c79c60;
}
.popular-item-tilte:hover{
    color:#c79c60 ;  
}
.order-now a{
    color: rgb(174,174,174);
}
.special-title{
    bottom: 0;
    left: 0;
    color:white;
}
p{
    margin-bottom: 0 !important;
}
.bg-gray{
    background-color:#e4e4e4;
}
ol li{
    color: #c79c60;
}
li p{
    color: black
}
ul li{
    list-style: none;
}
.social-icon{
    background-color: #505050;
    color: white;
    display: inline-block;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    text-align: center;
    padding-top: 4px;
    margin-right: 10px;
}