a{
    text-decoration: none   ;
}
*{
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
header{
    width: 100%;
    background-color: #238ffd;
    /* padding: -5px 20px; */
}

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.header .content .logo-container{
    margin-top: 7%;
    width: 100%;
}
.header .content .logo-container img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
}
.header .content .logo-container h1{
    vertical-align: middle;
    font-size: 30px;
    padding-top:7px;
    margin-left: 66px;
}
.header .nav-container{
    margin: 30px;
}
.header .nav-container nav {
    display: flex;
}
.header .nav-container nav div{
    padding: 5px;
}
.header .nav-container nav div hr{
    visibility: hidden;
}
.header .nav-container nav div:hover hr{
    visibility: visible;
}
.banner-container {
    position: relative;
    margin-bottom: 20px;
    /* opacity: ; */
}
.banner-container img{
    width: 100%;
    height: 400px;
}
.banner-container .backdrop{
    position: absolute;
    top:0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: 400px;
    opacity: 0.7;
}
.banner-container .banner-content{
    position: absolute;
    top:125px;
    left: 885px;
}

.banner-container .banner-content h1{
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding:18px;
    animation: topDown 1 forwards;
    animation-delay: 0s;
    animation-duration: 1s;
    /* animation-direction:; */
    /* position: relative; */
    left: 0px;
    /* top:-150px; */
    /* animation: topDown 1s forwards; */
    transition: 0.5s;
}
@keyframes topDown{
    0%{
        transform: translateY(-150px);
    }
    100%{
      transform: translateY(-10px);
    }
}
/* @-webkit-keyframes topDown{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top:-10px;
    }
} */


.banner-container .banner-content .register-btn{
    padding:10px 30px;
    border: none;
    text-transform: uppercase;
    font-size: 19px;
    border-radius: 5px;
    background-color: #238ffd;
    color:white;
}
.banner-container .banner-content .register-btn:hover{
    background-color: rgb(173, 173, 46);
    transition: 0.8s;
}
.main-content {
    margin-left: 15%;
    margin-right: 15%;
}
}
.main-content .page-title h1{
    text-align: center;
    
}
.main-content .page-title{
    padding: 0px 359px;
    margin-bottom: 20px;
}
.main-content .page-description{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}
.main-content .page-description::before{
    content: "«";
    color: blue;
    font-size: 50px;
    position:absolute;
    top:-37px;
    left: -31px;
}
.main-content .page-description::after{
    content: "»";
    font-size: 50px;
    position:absolute;
    color: blue;
    bottom:-25px;
    right: -28px;
}
.soldout-course{
    text-align: center;
    text-transform: uppercase;
}
.standout-courses .card{
    display: flex;
    justify-content: space-between;

}
.standout-courses .card .course-card{
    width: 23.5%;
    /* box-shadow: 3px 3px 10px #8e8e8e; */
    border-radius: 5px;
    margin: auto;
    background-color: #ececec;
    transition: 0.4s;
} 

.standout-courses .card .course-card:hover{
    box-shadow:3px 3px 10px #8e8e8e;
}
.standout-courses .card .course-card .course-img {
   width: 100%;

}
.standout-courses .card .course-card .course-img img{
    width: 100%;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
}
.standout-courses .card .course-card .course-content{
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    padding:15px;
    background-color: #ececec;
}
.standout-courses .card .course-card .course-content .course-name a{
    color: black;
    
}
.standout-courses .card .course-card .course-content .course-teacher{
    display: flex;
    align-items: center;
}

.standout-courses .card .course-card .course-content .course-teacher img{
    margin-right: 15px;
    vertical-align: middle;
}
.standout-courses .card .course-card .course-content .course-teacher span{
    color: black;
}
.our-teacher{
    width: 100%;
}
.section-title{
    /* position: relative; */
    text-align: center;
    text-transform: uppercase;
    margin:30px 0px;
}
.our-teacher .teachers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.our-teacher .teacher{
    position: relative;
    width: 45%;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    transition: 1s;
}
.our-teacher .teacher:hover{
    box-shadow:3px 3px 10px #8e8e8e;
}
.our-teacher .teacher .course-number {
    position: absolute;
    top:80%;
    left:5% ;
}
.our-teacher .teacher .course-number span{
    padding:5px;
    /* border-radius: 5px; */
    background-color: black;
    opacity: 0.6;
    color: white;
}
.our-teacher .teacher .image-background{
    background-image: url(my-tam-teacher.jpg);   
    background-position:center;
    background-size:100%;
    width: 250px ;
    height: 200px;
    transition:all 1s;
}
.teachers .teacher .image-background:hover {
    background-size: 150%;
}
.our-teacher .teacher .teacher-info{
    background-color: #ececec;
    flex-grow:1 ;
    padding:15px;
}
.our-teacher .teacher .teacher-info .name{
    font-size: 16px;
    padding:5px;
    text-transform: uppercase;
}
.our-teacher .teacher .teacher-info .job-title{
    font-size: 16px;
    padding:5px;
}
.our-teacher .teacher .teacher-info .birthday{
    font-size: 16px;
    padding:5px;
}
.contact-us{
    margin: 2.5%;
}
.contact-us .contact-img{
    background-image: url(abc.png);
    background-size: 100%;
    background-position: center;
    width: 50%;
    height: 400px;
}
.contact-container{
    display: flex;
}
.contact-us .contact-form{
    width: 50%;
    padding-left: 5%;
    padding-right: 2.5%;
    border: 1px solid gray;
}
.contact-us .contact-form .title{
    padding:5% 0%;
    text-align: left;
    text-transform: uppercase;
}
.form-item{
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}
.form-item label{
    width: 80px;
    margin-right: 40px;
}
.form-item input{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cacaca;
}
.register-now{
    border: none;
    background-color: #238ffd;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 40px;
    float: right;
    border-radius: 5px;
}
.register-now:hover{
    background-color:rgb(173, 173, 46) ;
    transition: 0.8s;
}


footer{
    margin-top: 5%;
    background-color: #238ffd;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 3px 3px 10px #8e8e8e;
    display: flex;
}

.footer { 
    padding-top: 17px;
    padding-bottom: 10px;
}
.footer .content h3{
    margin-top: 0px;
}
.menu-other{
    margin-left: 500px;
}