a{
    text-decoration: none   ;
}
*{
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #238ffd;
    padding: -5px 20px;
    /* box-shadow: 3px 3px 10px #8e8e8e; */
    height: 85px;
}
/* .container {
    max-width: 1400px;
    margin-left: 300px;
    margin-right: 300px;

} */
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}
.header .content .logo-container{
    width: 320px;
}
.header .content .logo-container img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
}
.header .content .logo-container h1{
    vertical-align: middle;
    font-size: 30px;
    padding-top:7px;
    margin-left: 66px;
}
.header .nav-container{
    margin: 30px;
}
.header .nav-container nav {
    display: flex;
}
.header .nav-container nav div{
    padding: 5px;
}
.header .nav-container nav div hr{
    visibility: hidden;
}
.header .nav-container nav div:hover hr{
    visibility: visible;
}
.banner-container {
    position: relative;
    /* opacity: ; */
}
.banner-container img{
    width: 100%;
    height: 400px;
}
.banner-container .backdrop{
    position: absolute;
    top:0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: 400px;
    opacity: 0.7;
}
.banner-container .banner-content{  
    position: absolute;
    top:125px;
    left: 885px;
    
}

.banner-container .banner-content h1{
    color:white;
    text-transform: uppercase;
    padding:18px;
    animation: topDown 1 forwards ;
    animation-delay: 0s;
    animation-duration: 1s;
    /* animation-direction:; */
    position: relative;
    left: 0px;
    /* top:-150px; */
    /* animation: topDown 1s forwards; */
    transition: 0.5s;
}
@keyframes topDown{
    0%{
        transform: translateY(-150px);
    }
    100%{
      transform: translateY(-10px);
    }
}
/* @-webkit-keyframes topDown{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top:-10px;
    }
} */


.banner-container .banner-content .register-btn{
    padding:10px 30px;
    border: none;
    text-transform: uppercase;
    font-size: 19px;
    border-radius: 5px;
    background-color: #238ffd;
    color:white;
}
.banner-container .banner-content .register-btn:hover{
    background-color: rgb(173, 173, 46);
    transition: 0.8s;
}
.main-content {
    margin-left: 300px;
    margin-right: 300px;
}
.main-content .page-title{
    padding: 0px 359px;
}
.main-content .page-description{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}
.main-content .page-description::before{
    content: "«";
    color: blue;
    font-size: 50px;
    position:absolute;
    top:-37px;
    left: -31px;
}
.main-content .page-description::after{
    content: "»";
    font-size: 50px;
    position:absolute;
    color: blue;
    bottom:-25px;
    right: -28px;
}
.soldout-course{
    text-align: center;
    text-transform: uppercase;
}
.standout-courses .card{
    display: flex;
    justify-content: space-between;

}
.standout-courses .card .course-card{
    width: 256px;
    height: 328px;
    /* box-shadow: 3px 3px 10px #8e8e8e; */
    border-radius: 5px;
    margin: auto;
} 

.standout-courses .card .course-card :hover{
    /* box-shadow: 3px 3px 10px #8e8e8e; */
}
.standout-courses .card .course-card .course-img {
    width: 256px;
    height: 144px;

}
.standout-courses .card .course-card .course-img img{
    width: 256px;
    height: 144px;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
}
.standout-courses .card .course-card .course-content{
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding:15px;
    width: 256px;
    height: 185px;
    background-color: #ececec;
}
.standout-courses .card .course-card .course-content .course-name a{
    color: black;
    
}
.standout-courses .card .course-card .course-content .course-teacher{
    display: flex;
    align-items: center;
}

.standout-courses .card .course-card .course-content .course-teacher img{
    margin-right: 15px;
    vertical-align: middle;
}
.standout-courses .card .course-card .course-content .course-teacher span{
    color: black;
}
